.aboutContainer {
  height: 100%;
  padding: 5% 30%;
  background-color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (max-width: 600px) {
  .aboutContainer {
    height: 100%;
    padding: 5% 10%;
  }
}